.offcanvas{
  &--title {
    font-style: normal;
    line-height: $line-height-lg;
    margin: $BasicSmall 0;
    color: $dark;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &--time {
    display: flex;
    align-items: flex-start;
    margin-bottom: 8px;
    &__value {
      font-size: 14px;
      font-style: normal;
      line-height: 100%;
      margin-bottom: 0;
      font-weight: 300;
    }
  }
}


.icon{
  display: flex;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
}