.#{$prefix}top-wrapper {
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  height: 100%;
  background-color: $bg-grey;
}

.wrapper {
  width: 100%;
  display: flex;
  .margin {
    margin-left: $BasicRegular;
    margin-right: $BasicRegular;
  }

  height: 100%;
  overflow: auto;
  position: relative;
}