.#{$prefix}top-wrapper {
  margin: 0 auto;
  overflow-x: hidden;
  display: flex;
  height: 100%;
  background-color: $bg-grey;
}

.wrapper {
  display: flex;
  .margin {
    margin-left: $BasicRegular;
    margin-right: $BasicRegular;
  }
  height: 100%;
  overflow: auto;
}

.academic{
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.name-lecturer{
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.title-lecturer{
  font-size: 14px;
  font-weight: 300;
  color: #000;
}

.share-btn {
  width: 46%;
  background-color: #C4C4C4;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
    border: 1px solid #C4C4C4;
}

.view-more-btn {
  width: 46%;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  border: 1px solid #000;
}

.count-project {
  margin: 0 10px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.total-projects{
  padding: 10px;
  margin-top: 10px;
  font-size: 14px;
  border-radius: 20px;
  background-color: #C4C4C4;
}
.divide{
  font-size: 24px;
  font-weight: 300;
  color: #000;
}
.day-count{
  font-size: 24px;
  font-weight: 300;
  color: #000;
}
.days{
  font-size: 14px;
  font-weight: normal;
  color: #000;
}
.month-count{
  font-size: 24px;
  font-weight: 300;
  color: #000;
}
.months{
  font-size: 14px;
  font-weight: normal;
  color: #000;
}
.total{
  font-size: 14px;
  font-weight: normal;
  color: #000;
}
.total-students{
  font-size: 24px;
  font-weight: 300;
  color: #000;
}
.students{
  font-size: 14px;
  font-weight: normal;
  color: #000;
}
.ug{
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
.number-count{
  height: 200px;
  background: #C4C4C4;
  border-radius: 20px;
}

.vertical-line{
  width: 1px;
  height: 100%;
  background: #000;
}

.countdown{
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.countdown-section{
  margin-left: 20px;
}

.countdown-area{
  height: 200px;
  border-radius: 20px;
  align-items: center;
}
.title {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #C4C4C4;
  height: 70px;
  color: #000;
}

.image-lecturer {
  width: 200px;
  height: 200px;
  background: #C4C4C4;
  //border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.carousel {
  display: flex;
  margin: 0 60px;
  padding: 18px 23px;
  align-items: flex-start;
  border-radius: 20px;
}

.area-text{
  padding: 0 20px;
}

.area-text-2{
  margin: 0 20px;
  border: 1px solid #000;
  padding: 20px 20px;
  border-radius: 20px;
}

.banner {
  width: 30vw;
  background: #C4C4C4;
  border-radius: 20px;
  &-image{
    width: 100%;
    height: 475px;
    border-radius: 20px;
    object-fit: cover;
  }
}

.dot-indicator {
  position: absolute;
  bottom: 10px; /* Adjust the position based on your design */
  left: 50%; /* Center the dot indicator */
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background: #000; /* Set the color of the dot */
  border-radius: 50%;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.content {
  padding: 20px;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
}

.news {
  margin: 0 100px;
}