@mixin scrollbar {
  /* width */
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $light;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
  }
}