.top {
  &-navbar {
    margin: 20px 80px;
    width: calc(100% - 160px);
    background-color: #014164;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px 20px;
  }

  &-text {
    font: 300 18px/22px "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    &-offcanvas {
      font-size: 20px;
      font-weight: 600;
      color: #000;
    }
  }

  &-text.active {
    font-weight: 600;
    border-bottom: 2px solid #fff;
  }

  &-menu {
    color: #014164;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px;

    &-text {
      font: 300 18px/22px "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 600;
    }
  }

  @media screen and (max-width: 1280px) {
    .top-navbar {
      margin: 10px auto;
      flex-direction: row;
      height: auto;
    }
    .top-text {
      display: none;
    }
    .top-menu {
      margin-top: 10px;
    }
  }

  /* Additional Media Query for smaller screens */
  @media screen and (max-width: 576px) {
    .top-navbar {
      margin: 10px auto 0;
      width: 95%;
      padding: 0; /* Adjust padding for smaller screens */
    }
    .ite-icon-ite-alumni{
      scale: 0.7;
    }
    .top-menu{
      margin-top: 0;
      margin-right: 10px;
      padding: 4px 8px; /* Adjust padding for smaller screens */
      &-text {
        font-size: 14px; /* Decrease font size for smaller screens */
      }
    }
    .top {
      &-text {
        font-size: 14px; /* Decrease font size for smaller screens */
      }
      &-menu {
        padding: 4px 8px; /* Adjust padding for smaller screens */
      }
    }
  }
}

.top-navbar-scrolling {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #014164;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1280px) {
    .top-navbar-scrolling {
        padding: 10px 10px;
    }
}