.top{
  &-navbar{
    margin: 20px;
    width: calc(100% - 40px);
    background-color: #014164;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px 20px;
  }

  &-text{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  }

  &-text.active{
    font-weight: 600;
    border-bottom: 2px solid #fff;
  }

  &-menu {
    color: #014164;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    &-text {
      font-size: 18px;
      font-weight: 600;
    }
  }

  @media screen and (max-width: 768px) {
    .top-navbar {
      flex-direction: column;
      height: auto;
    }
    .top-text {
      display: none;
    }
    .top-menu {
      margin-top: 10px;
    }
  }
}